<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <script src="https://openlayers.org/en/v6.4.3/build/ol.js" type="text/javascript"></script>
    <script src="../static/script.js"></script>
    <title>Pizzicanto</title>
    <meta charset="UTF-8">
    <link href="../static/homepageStyle.css" rel="stylesheet">
</head>
<body>
<div class="container1">
<div class="favor">
    <br>
    <br>
    <p>May the pizza be ever in your favor!</p>
</div>
<div class="SelectDiv">
<form th:method="POST" th:action="@{'/Pizzicanto/setCities'}">
    <label id="stateLabel" for="state">Select your state:
        <select id="State" onchange="this.form.submit()">
            <option name="state" th:each="state: ${states}" th:text="${state}" th:value="${state}"></option>
        </select>
    </label>
</form>
</div>

<div class="SelectDiv">
    <form th:method="POST" th:action="@{'/Pizzicanto/setPizzerias'}">
    <label for="City">Select your city: </label>
    <select name="City" id="City">
        <option name="city" th:each="city: ${cities}" th:text="${city}" th:value="${city}"></option>
    </select>
    </form>
</div>
<div class="Random">
    <p>Click the button to get a random pizzeria!</p>
</div>
<form th:method="POST" th:action="@{/Pizzicanto/Random}">
    <button th:type="submit" class="button1" type="button">Random</button>
</form>


<div class="Own">
    <label for="Own">or <br> Select your own pizzeria: </label>
    <select class="Own_dropdown" name="Own" id="Own">
        <option name="pizzeria" th:each="pizzeria: ${pizzerias}" th:text="${pizzeria.name}" th:value="${pizzeria.id}"></option>
    </select>
</div>
    <br><br>
<button class="button2" type="button">Get Directions</button>
</div>

<div id="map" >
    <iframe id="my-frame" th:if="!${randomClicked}" width="950" height="500" src="https://www.openstreetmap.org/export/embed.html?bbox=-107.10021972656251%2C38.762650338334154%2C-103.75213623046876%2C40.59727063442027&amp;layer=mapnik"></iframe>
    <iframe th:if="${randomClicked}" width="950" height="500" src="https://www.openstreetmap.org/export/embed.html?bbox=-92.39795655012132%2C34.75237859421796%2C-92.39441603422166%2C34.754280421818294&amp;layer=mapnik"></iframe>
</div>

</body>
</html>