body {
    background-image: url('../static/images/Background_w_Logo_.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Bauhaus 93", serif;
    height: 950px;
}
.button1{
    background-color: #d0180a;
    border: none;
    color: white;
    padding: 20px 160px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    font-family: "Bauhaus 93", serif;
    align-items: center;
    justify-content: left;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}
.button2{
    background-color: #85b339; /* Green */
    border: none;
    color: white;
    padding: 5px 120px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-family: "Bauhaus 93", serif;
    align-items: center;
    justify-content: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}
.favor{
    align-items: center;
    justify-content: left;
    color: #cd6359;
    font-size: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.SelectDiv{
    display: flex;
    align-items: center;
    justify-content: left;
    color: #f5a70b;
    font-size: 30px;
    padding-left: 25px;
    margin-left: 135px;
}
body > div.container1 > form:nth-child(4) > div:nth-child(3){
    margin-left: 0;
}
#stateLabel{
    color: black;
}
select{
    margin-left: 20px;
}
.Random{
    align-items: center;
    justify-content: left;
    color: #542e2e;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
}
.Own{
    align-items: center;
    justify-content: left;
    color: #f5a70b;
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container1{
    text-align: center;
    display: inline-block;
    position: relative;
    width: 710px;
    top: 160px;
    left: 90px;
}
#map {
    display: inline-block;
    position: absolute;
    top:350px;
    left: 830px;
    width: 900px;
    height: 500px;
}
.Start{
    display: flex;
    align-items: center;
    justify-content: right;
    color: #f5a70b;
    font-size: 20px;
    position: fixed;
    right: 1070px;
    bottom: 600px;
    z-index: 999;
}